@charset "UTF-8";
body {
    background-color: #A6AAAC;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    background-color: #4681FF;
    color: black;
    text-align: center;
}

main {
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #24465c9f;
}

.cursos{
color: #285069;
text-align: center;
}

p{
    text-align: justify;
    text-indent: 30px;
}

.seguir{
    text-align: center;
}